/* Reset */
body, p {
    margin: unset;
}

h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

/* Typography */
:root {
    font-family: 'Noto sans KR';
    word-break: keep-all;
    /* overflow-wrap: break-word; */
}

/* Component */
body {
    background-color: #222222;
}

.l_wrapper {
    width: 640px;
    margin: 150px auto;
}

.talk {
    background-color: #EEEEEE;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 18px 20px;
    position: relative;
    z-index: 0;
}

.lee {
    display: flex;
    align-items: center;
    gap: 18px;
}

.newbie {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 18px;
}

.profile {
    width: 80px;
    height: 80px;
    border: 4px solid white;
    border-radius: 50%;
    
}

.textbox {
    background-color: white;
    padding: 20px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    color: #666666;
    position: relative;
}

.lee .textbox {
    max-width: 326px;
}

.lee .textbox h2 {
    color: #6557C0;

}

.newbie .textbox h2 {
    color: #35E792;

}

.left h2::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 9px;
    border-style: solid;
    border-color: transparent white transparent transparent ;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto -42px;
}

.right h2::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 24px;
}

.footer_text {
    width: 200px;
    font-size: 12px;
    color: #999999;
    background-color: #EEEEEE;
    margin: 0 auto;
    text-align: center;
}

.footer_line {
    height: 1px;
    background-color: #999999;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    margin: 20px;
    z-index: -1;
    opacity: 0.5;
}